
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
  }
  h1 {
    color :pink;
  }
  
  .logo img {
    width: 100px; 
  }
  
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-info span {
    margin-right: 10px;
  }
  
  .user-info button {
    background-color: transparent;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .user-info button:hover {
    text-decoration: underline;
  }
  